<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ko">
<head th:insert="fragement :: headerfiles"></head>
<body>
<header th:insert="fragement :: nav"></header>
<!--Page content goes here-->
<div class="container">
    <table>
        <tr>
            <td>User name</td>
            <td><span sec:authentication="name"></span></td>
        </tr>
        <tr>
            <td>Authorities</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>
    </table>
</div>
</body>
</html>